body {
	background-color: black;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

a:link {
	color: lightblue;
}

a:visited {
	color: mediumpurple;
}